# ignore eclipse project files
.project
.classpath
# ignore Intellij Idea project files
.idea
*.iml
/target/
.DS_Store
/bin/
.settings/
/.gradle/
/gradle/
/gradlew
/gradlew.bat
.gitmodules
#/build/classes/
#/build/docs/
#/build/generated/
#/build/reports/
#/build/resources/
#/build/tmp/
#/build/test-results/
#/build/reports/

/build/tmp/
/build/
.DS_Store
